.oncampus{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    transition: opacity 0.5s, display 0.s;
}

.loading {
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #6237A0;
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 1.3rem 1.3rem;
    /* width: 30%; */
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover{
    background-color: rgb(37, 37, 37);
    /* border: 1px solid black; */
    color: white;
}

.card-img{
    margin: 1rem;
}

.card-img img{
    width: 18rem;
    border-radius: 2rem;
}

.card-text{
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text h1{
    margin-bottom: 0.5rem;
}


.card-text button{
    padding: 1rem;
    border-radius: 2rem;
    width: 6rem;
    cursor: pointer;
}

.card-text button:hover{
    /* background-color: transparent; */
    /* border: 1px solid black; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


@media screen and (max-width: 1024px){
    .oncampus{
        grid-template-columns: 1fr 1fr;
        margin: 3rem;

    }

    .card-img img{
        width: 17rem;
        border-radius: 2rem;
    }
}


/* ==================== Media Queries (Small Devices) ========================*/


@media screen and (max-width: 600px){
    .oncampus{
        grid-template-columns: 1fr;
        margin: 0rem;
    }

    .card{
        margin: 1rem;
        padding: 1rem;

    }

    .card-img img{
        width: 17rem;
        border-radius: 2rem;
    }

}

